body{
	font-family: Verdana, Calibri;
	margin:0px;
	padding:0px;
	text-align: left;
	width:100%;
}

backround-image{
		background-size: 100%;
		background-repeat: no-repeat;
}

title{
	padding: 10px ;
	text-align: center;
	text-decoration: underline;
}

#presentation{
	font-size: 30px;
	color: #FEFDF0;
	
}

#oklm{
	font-weight: normal;
	font-style: oblique;
	color:black;
	padding: 0px;
	font-size:15px;
	font-family:cursive;
	position: relative;
}

#prob{
	color: #7CFC00;
	text-align: center;
	text-decoration: overline;
}

#intro{
	color: #000080;
	padding-top: 30px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-decoration: overline;
}

/*h1{
	margin-bottom:150px; 
	position: fixed;
	left: 700px; 
	text-align: center;
	text-decoration: underline;
	padding-bottom: 600px; 
	font-size: 30px;
	font-family: Stencil Std ;
	font-style: oblique;
	font-weight: 500;
	position:fixed;
}*/

h1{
	color: #000080;
	
}

h3{
	font-weight: bold;
	text-align: center;
	color: #7CFC00;
	
}
#trkl{
	background-color: rgba(255, 255, 255, .4);
}
p{
	font-size: 20px;
	color:#000080;
	font-weight: bold;
	padding-top: 0px; 
	padding-left:25px;
	padding-right:25px;
	
}

nav {
	width:100%;
	background-color: #6B8E23 ; 
}

nav > ul{
	margin: 0px;
	padding: 0px;
	height: 150px;
	width:100%;
}

nav > li {
	list-style-type:none;
	position: relative;
}

nav > ul > li {
	float:left;
	position: relative;
}

nav > ul::after{
	content:"";
	display: table;
	clear: both;
	padding:10px;
}

.submenu{
	display:none;
	background-color: black;
}

.submenu2{
	display:none;
	background-color: black;

}

nav input[type=checkbox]{
	display:none;
}

nav label {
	display:none;
}

nav a{
	display:inline-block;
	text-decoration: none;
	list-style-type: none;
	margin:0px;
	padding:10px;
	font-size:20px;
}

nav > ul > li > a{
	padding: 45px 16px; 
	color: black;
	list-style-type: none;
	background-color:#6B8E23;
	padding:35px;
}

nav li:hover .submenu{
	display:inline-block;
	position:absolute;
	top: 100%;
	left: 0px;
	padding: 1px;
	z-index: 1000;
	list-style-type: none;
}


.menu-0{
	left: 700px; 
	text-align: center; 
	float:right;
	/*display: inline-block;*/
	font-size: 20px;
	font-family: Stencil Std, cursive ;
	font-style: oblique;
	font-weight: bold;
	position:absolute;
	list-style-type: none;
	padding-top: 0px;
	padding-bottom: 0px;
	color:black;
	padding-left: 55px;
	position:absolute;
}

.menu-1{
	list-style-type: none;
	font-weight: bold;
}

.menu-2{
	list-style-type: none;
	font-weight: bold;
}
.menu-3{
	list-style-type: none;
	font-weight: bold;
}
.menu-4{
	list-style-type: none;
	font-weight: bold;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: black;
	width:250px;
}

.submenu li {
	border-bottom: 1px solid black;
	font-weight: none;
}

.menu-1:hover{
	border-top: 5px solid #FFFF00;
	background-color: rgba(255, 255, 0, 0.15);
}

.menu-2:hover{
	border-top: 5px solid #0070bb;
	background-color: rgba(000, 112, 192, 0.15);
}

.menu-3:hover{
	border-top: 5px solid #E80000 ;
	background-color: rgba(232, 0, 0, 0.15);
}

.menu-4:hover{
	border-top: 5px solid #008000;
	background-color: rgba(0, 128, 0, 0.15);
}

/*.menu-5:hover{
	border-top: 5px solid #696969;
	background-color: #696969;
	opacity:0.10;
}

.menu-5 {
	margin-bottom: 30px;
	font-size: 15px;
	font-family: cursive;
	font-style: italic;
}

.menu-contact:hover{
	border-top:5px solid #BBB;
	background-color: rgba(220, 220, 220, 0.15);
}*/

.menu-1 .submenu{
	background-color: #FFFF00 ;
}

.menu-2 .submenu{
	background-color: rgb(000, 160, 240);
}

.menu-3 .submenu{
	background-color: rgb(232, 0, 0);
}

.menu-4 .submenu{
	background-color: #008000;
}

.menu-1 ul li{
     background:linear-gradient(#FFFF0080, #ccff15);
}
.menu-2 ul li{
	background: linear-gradient(#0070bb, #00BFFF )
}
.menu-4 ul li{
	background: linear-gradient(#008000, #32CD32)
}

ul li a{
     background: #666;
     transition: background 0.5s;
}

ul li a:hover{
     background: transparent;
     transition: background 0s;
}
.submenu li:hover a{
	color: black;
	font-weight: bold;
}

.menu-1 .submenu li:hover{
	background-color: rgba(255, 255, 0, 0.15);

}

.menu-2 .submenu li:hover{
	background-color: rgba(000, 115, 200,0.15);
}

.menu-3 .submenu li:hover{
	background-color: rgba(232, 0, 0, 0.15);
}

.menu-4 .submenu li:hover{
	background-color: rgba(50, 205, 50, 0.15) ;
}

nav input[type=checkbox]:checked ~ ul {
	display: inline-block;
}

.menu-mobile{
	font-size: 25px;
	font-weight: bold;
}

@media screen and (max-width: 1065px){
	/*.menu-mobile{
		display: block;
		color: black;
		background-color: #696969;
		text-align: center;
		width:100%;
		padding: 25px 0px;
	}*/

nav ul{
		display: block;
		color:blue;
	}

nav ul li, nav ul li a{
	width: 50%;
	color:black;
	text-align: center;

	}

.menu-0{
	display: none;
}


nav ul li a, nav ul li:hover a{
	padding: 10px 0px;
	}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;

	}
}
