body{
	font-family: 'Lato', sans-serif;
	text-decoration: underline;
	text-align: center;
	background-repeat: no-repeat;
	padding-left: 10px;
	font-family: Verdana, Calibri;
	margin:0px;
	padding:0px;
	width:100%;
}
.menu-1 .submenu{
	background-color: #FFFF00 ;
}

.menu-2 .submenu{
	background-color: rgb(000, 160, 240);
}

.menu-3 .submenu{
	background-color: rgb(232, 0, 0);
}

.menu-4 .submenu{
	background-color: #008000;
}

.menu-1 ul li{
     background:linear-gradient(#FFFF0080, #ccff15);
}
.menu-2 ul li{
	background: linear-gradient(#0070bb, #00BFFF )
}
.menu-4 ul li{
	background: linear-gradient(#008000, #32CD32)
}

ul li a{
     background: #666;
     transition: background 0.5s;
}

ul li a:hover{
     background: transparent;
     transition: background 0s;
}
.submenu li:hover a{
	color: black;
	font-weight: bold;
}

.menu-1 .submenu li:hover{
	background-color: rgba(255, 255, 0, 0.15);

}

.menu-2 .submenu li:hover{
	background-color: rgba(000, 115, 200,0.15);
}

.menu-3 .submenu li:hover{
	background-color: rgba(232, 0, 0, 0.15);
}

.menu-4 .submenu li:hover{
	background-color: rgba(50, 205, 50, 0.15) ;
}

nav {
	width:100%;
	background-color: #6B8E23 ; 
}

nav > ul{
	margin: 0px;
	padding: 0px;
	height: 150px;
	width:100%;
}

nav > li {
	list-style-type:none;
	position: relative;
}

nav > ul > li {
	float:left;
	position: relative;
}

nav > ul::after{
	content:"";
	display: table;
	clear: both;
}

.submenu{
	display:none;
	background-color: black;
}

.submenu2{
	display:none;
	background-color: black;

}

nav input[type=checkbox]{
	display:none;
}

nav label {
	display:none;
}

nav a{
	display:inline-block;
	text-decoration: none;
	list-style-type: none;
	margin:0px;
	padding:0px;
	font-size:20px;
}

nav > ul > li > a{
	padding: 45px 16px; 
	color: black;
	list-style-type: none;
	background-color:#6B8E23;
	padding:35px;
}

nav li:hover .submenu{
	display:inline-block;
	position:absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
	list-style-type: none;
}


.menu-0{
	left: 700px; 
	text-align: center; 
	float:right;
	/*display: inline-block;*/
	font-size: 20px;
	font-family: Stencil Std, cursive ;
	font-style: oblique;
	font-weight: bold;
	position:absolute;
	list-style-type: none;
	padding-top: 0px;
	padding-bottom: 0px;
	color:black;
	padding-left: 55px;
}

.menu-1{
	list-style-type: none;
	font-weight: bold;
}

.menu-2{
	list-style-type: none;
	font-weight: bold;
}
.menu-3{
	list-style-type: none;
	font-weight: bold;
}
.menu-4{
	list-style-type: none;
	font-weight: bold;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: black;
	width:250px;
}

.submenu li {
	border-bottom: 1px solid black;
	font-weight: none;
}

.menu-1:hover{
	border-top: 5px solid #FFFF00;
	background-color: rgba(255, 255, 0, 0.15);
}

.menu-2:hover{
	border-top: 5px solid #0070bb;
	background-color: rgba(000, 112, 192, 0.15);
}

.menu-3:hover{
	border-top: 5px solid #E80000 ;
	background-color: rgba(232, 0, 0, 0.15);
}

.menu-4:hover{
	border-top: 5px solid #008000;
	background-color: rgba(0, 128, 0, 0.15);
}

p :hover{
	color:green;
}
#oklm{
	font-weight: normal;
	font-style: oblique;
	color:black;
	padding: 0px;
	font-size:15px;
}

#after_submit{
	visibility:hidden;
	background: #A9A9A9;
	padding: 10px 20px 10px 20px;
	width: 400px;
	height:650px;
	border-radius: 20px;
	float: right;
	margin-left:20px;
	font-size: 30px;
	margin-top: 370px;
}

#quiz{
	margin-left: 10px;
	background: #696969;
	padding: 10px 20px 10px 20px;
	width: 400px;
	height:1099px;
	border-radius: 20px;
	float:left;
	font-family:Book Antiqua;
	text-align: left;
}

input{
	margin-bottom: 10px;
}

#textbook{
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
	font-family:Book Antiqua;
}

#button{
	background: #008000;
	border: none;
	border-radius:5px;
	padding:10px;
	color:white;
	font-size:16px;
	transition-duration: .5s;
	margin-top:15px;
	box-shadow: 5px 5px 5px black;
}

#button:hover{
	background:#006400;
	border:solid green;
	color:black;
	cursor: pointer;
}

#picture{
	width:385px;
	height:300px;
	padding: 10px 20px 10px 20px;
}

.menu-1 .submenu{
	background-color: #FFFF00 ;
}

.menu-2 .submenu{
	background-color: rgb(000, 160, 240);
}

.menu-3 .submenu{
	background-color: rgb(232, 0, 0);
}

.menu-4 .submenu{
	background-color: #008000;
}

.menu-1 ul li{
     background:linear-gradient(#FFFF0080, #ccff15);
}
.menu-2 ul li{
	background: linear-gradient(#0070bb, #00BFFF )
}
.menu-4 ul li{
	background: linear-gradient(#008000, #32CD32)
}

ul li a{
     background: #666;
     transition: background 0.5s;
}

ul li a:hover{
     background: transparent;
     transition: background 0s;
}
.submenu li:hover a{
	color: black;
	font-weight: bold;
}

.menu-1 .submenu li:hover{
	background-color: rgba(255, 255, 0, 0.15);

}

.menu-2 .submenu li:hover{
	background-color: rgba(000, 115, 200,0.15);
}

.menu-3 .submenu li:hover{
	background-color: rgba(232, 0, 0, 0.15);
}

.menu-4 .submenu li:hover{
	background-color: rgba(50, 205, 50, 0.15) ;
}

nav input[type=checkbox]:checked ~ ul {
	display: inline-block;
}

.menu-mobile{
	font-size: 25px;
	font-weight: bold;
}

@media screen and (max-width: 1065px){
	/*menu-mobile{
		display: block;
		color: black;
		background-color: #696969;
		text-align: center;
		width:100%;
		padding: 25px 0px;
	}*/
.menu-1 ul li{
     background-color:#ccff15;
}
.menu-2 ul li{
	background-color: #00BFFF ;
}
.menu-4 ul li{
	background-color: #32CD32;
}



nav ul li, nav ul li a{
	width: 50%;
	color:black;
	text-align: center;

	}

.menu-0{
	display: none;
}


nav ul li a, nav ul li:hover a{
	padding: 10px 0px;
	}

nav li:hover .submenu{
	display:inline-block;
	position: normal;

	}
}

